<!DOCTYPE html>
<html>
<head>
		<meta content='text/html;charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
		<h1>New orders for you, <%= @host.firstname %>!</h1>

		<p>Congratulations! You have new customer: <%= @host.firstname %></p>

		<p>You can see details of your new order here: <%= root_url %></p>
</body>
</html>